.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.configurator {
  padding: 10px 0 20px 24px;
  border-top: 1px solid lightgray;
}

p {
  font-size: 16px;
  margin-bottom: 2px;
}

.part-selection, .color-selection {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.part-selection {
  margin-bottom: 8px;
}

.part-button {
  padding: 12px 28px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  color: black;
  font-size: 20px;
}

.color-button {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px 32px;
}

/* Desktop Styles */

@media (min-width: 1200px) {
  .configurator {
    padding: 40px;
    max-width: 30%;
    max-height: 100%;
    border-right: 1px solid lightgray;
  }

  .part-selection, .color-selection {
    overflow: hidden;
    flex-wrap: wrap;
  }

  .part-selection {
    margin-bottom: 32px;
  }

  p {
    font-size: 20px;
    margin-bottom: 4px;
  }
}