@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

:root {
  --fs-header: 5rem;
  --fs-text: 1rem;
  --fs-part: 0.75rem;
  --fs-button: 1rem;
}

@media (min-width: 640px) {
  :root {
    --fs-header: 14rem;
    --fs-text: 1.5rem;
    --fs-part: 1.25rem;
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  background: #f0f0f0;
  font-family: sans-serif;
}

canvas {
  touch-action: none;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* MAIN SECTION */

section {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main--container.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.main--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main--container h1 {
  font-weight: 900;
  font-size: var(--fs-header);
  font-style: italic;
  line-height: var(--fs-header);
  margin: 0 0 12px 0;
  color: white;
}

.main--content p {
  font-size: var(--fs-text);
  margin: 0 0 24px 0;
  line-height: var(--fs-text);
  color: white;
  width: 85%;
  text-align: center;
}

.main--button {
  background-color: white;
  border: none;
  border-radius: 8px;
  color: black;
  font-size: var(--fs-button);
  font-weight: bolder;
  pointer-events: all;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 16px 32px;
  width: 180px;
}

.main--button:hover {
  background-color: #222;
  color: white;
}

/* COLOR PICKER */

.customizer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.options {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.part-options {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  color: white;
  margin-bottom: 8px;
}

.part {
  width: 40px;
  height: 40px;
  color: rgb(66, 66, 66, 0.7);
  font-size: var(--fs-part);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(66, 66, 66, 0.7);
}

.part:hover {
  color: white;
  border-color: white;
  cursor: pointer;
}

.color-options {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(46, 46, 46, 0.2);
}

.circle:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* RESPONSIVE DESIGN */

@media (min-width: 640px) {
  section {
    display: block;
  }

  .customizer {
    justify-content: center;
  }

  .main--container {
    display: block;
    margin-left: 10rem;
    margin-top: 12rem;
  }

  .main--content {
    display: block;
    position: relative;
    left: 1.5rem;
  }

  .main--content p {
    width: 40%;
    margin-bottom: 48px;
    text-align: left;
  }

  .part-options {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    color: white;
    margin-bottom: 8px;
  }

  .part {
    width: 100px;
    height: 100px;
    padding: 15px;
  }

  .color-options {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 36px;
  } 
}