@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

:root {
  --fs-header: 4rem;
  --fs-text: 1rem;
  --fs-button: 1rem;
  --fs-button-icon: 2rem;
}

@media (min-width: 640px) {
  :root {
    --fs-header: 14rem;
    --fs-text: 1.5rem;
    --fs-button-icon: 2rem;
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  background: #f0f0f0;
  font-family: 'Inter', sans-serif;
}

canvas {
  touch-action: none;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* MAIN SECTION */

section {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main--container.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.main--container h1 {
  font-weight: 900;
  font-size: var(--fs-header);
  font-style: italic;
  line-height: var(--fs-header);
  margin: 0;
}

.main--content p {
  font-size: var(--fs-text);
  margin-bottom: 48px;
  line-height: var(--fs-text);
}

.main--button {
  background-color: black;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: var(--fs-button);
  font-weight: bolder;
  pointer-events: all;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 16px 32px;
}

.main--button:hover {
  background-color: white;
  color: black;
}

/* COLOR PICKER */

.customizer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.color-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 15px 15px 0 0;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}

.circle:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.part-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 15px 15px 0 0;
  align-items: center;
}

.part {
  width: 128px;
  height: 128px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.exit {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: var(--fs-button-icon);
  border: none;
  pointer-events: all;
  cursor: pointer;
  background: none;
}

.exit:hover {
  color: white;
}

/* RESPONSIVE DESIGN */

@media (min-width: 640px) {
  section {
    display: block;
  }

  .main--container {
    margin-left: 10rem;
    margin-top: 12rem;
  }

  .main--content {
    position: relative;
    left: 1.5rem;
  }
}